[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-countries = "*"
django-taggit = "*"
pillow = "*"
django-localflavor = "*"
django-cities = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.8.5"
